.title-carousel {
  margin-top: 2rem;
  padding-top: 2rem;
  padding-left: 2rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  background-color: #0d0c11;
  color: #fff;
}

.item-carousel {
  color: #fff;
  height: auto;
  margin: 2rem 0;
  padding-top: 2rem;
  padding-left: 1.6rem;
  position: relative;

  .swiper-button-prev,
  .swiper-button-next {
    top: 38%;
  }

  .bg-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: inset -90px 0px 60px -50px rgba(#0d0c11, 0.9),
      inset 90px 0px 60px -50px rgba(#0d0c11, 0.9);
    pointer-events: none;
  }

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.6rem;
    width: 130px;
    opacity: 0.6;
    transition: all 300ms;
    cursor: pointer;
    img {
      width: 130px;
      border-radius: 5px;
    }
    .title {
      font-size: 1.3rem;
      margin-top: 0.5rem;
    }
    .add_data {
      display: flex;
      justify-content: space-between;
      font-size: 1rem;
      margin-top: 0.2rem;
      .genre {
        color: lightgrey;
      }
      .rating {
        color: #f3cf04;
        .star {
          margin-right: 5px;
        }
      }
    }

    &:hover {
      opacity: 1;
      transform: scale(1.05);
      z-index: 1;
    }
  }
}

.separator {
  display: block;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  border: none;
  height: 2px;
  width: 100%;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .item-carousel {
    padding-left: 1rem;
    .item {
      width: 100px;
      opacity: 1;
      img {
        width: 100px;
      }
      .title {
        font-size: 1.1rem;
      }
      .add_data {
        font-size: 0.9rem;
      }
    }
  }
}
